body {
	position: absolute;
	display: flex;

	flex-flow: column nowrap;

	justify-content: center;

	width: 100%;
	height: 100%;

	margin: 0;
	padding: 2rem;

	box-sizing: border-box;

	font-family: Arial, sans-serif;
}

#additional-info {
	display: grid;
	grid-template-columns: 1fr 1fr;

	margin-bottom: 1rem;
}

span {
	margin-bottom: 1rem;
}

#youtube-format {
	margin-bottom: 1rem;
}

#ar-format {
	margin-top: 1rem;
	margin-bottom: 1rem;
}

textarea {
	height: 100%;
}
#convert-button {
	width: 10%;
	align-self: center;
}

#inputs {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.bold {
	font-weight: bold;
}
